<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>Hệ Thống Cảnh Báo Học Tập</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo-brand">
        <img class="logo-icon" src="img/Logo APAG chuẩn.png" alt="logo" />
        <!-- <i class="fa-regular fa-message logo-icon"></i> -->
        <span>Hệ thống cảnh báo học tập</span>
      </div>

      <div class="nav-links">
        <a href="#" class="active">Trang Chủ</a>
        <a href="#">Giới Thiệu</a>
        <a href="#">Liên Hệ</a>
        <a href="login" class="btn-nav-login">Đăng Nhập</a>
      </div>
    </nav>

    <header class="hero-section">
      <div class="hero-content">
        <h1>Giúp bạn theo dõi và<br />cải thiện kết quả học tập</h1>

        <ul class="hero-features">
          <li>
            <i class="fa-solid fa-circle-check"></i>
            Theo dõi tiến độ học tập
          </li>
          <li>
            <i class="fa-solid fa-circle-check"></i>
            Nhận cảnh báo nguy cơ
          </li>
          <li>
            <i class="fa-solid fa-circle-check"></i>
            Gợi ý hành động cải thiện
          </li>
        </ul>

        <button class="btn-start">
          <a class="link-start" href="login">
            Bắt Đầu Ngay
            <i class="fa-solid fa-arrow-right"></i></a>
        </button>
      </div>

      <div class="hero-image">
        <img
          src="img/z7467553170888_254c7785e09c982dda05e9fa074e6769-removebg-preview.png"
          alt="Study"
        />
      </div>
    </header>

    <section class="features-container">
      <div class="feature-card card-red">
        <div class="card-top">
          <span class="tag-danger">Nguy cơ</span>
          <i class="fa-solid fa-chart-line icon-large red"></i>
        </div>
        <h3>Theo Dõi & Cảnh Báo</h3>
        <p>
          <i class="fa-solid fa-hand-point-right"></i>
          Cảnh báo sớm khi có nguy cơ rớt môn, tụt GPA.
        </p>
      </div>

      <div class="feature-card card-yellow">
        <div class="card-top">
          <span class="tag-warning">Gợi ý</span>
          <i class="fa-solid fa-key icon-large yellow"></i>
        </div>
        <h3>Gợi Ý & Hỗ Trợ</h3>
        <p>
          <i class="fa-solid fa-hand-point-right"></i>
          Đề xuất ôn tập, gặp giảng viên, hỏi trợ giảng.
        </p>
      </div>

      <div class="feature-card card-blue">
        <div class="card-top">
          <span class="tag-info">Công cụ</span>
          <i class="fa-solid fa-toolbox icon-large blue"></i>
        </div>
        <h3>Tính điểm GPA</h3>
        <p>
          <i class="fa-solid fa-hand-point-right"></i>
          Hỗ trợ cách tính điểm GPA học kỳ.
        </p>
      </div>
    </section>

    <footer class="main-footer">
      <div class="footer-content">
        <div class="footer-col">
          <h3><i class="fa-solid fa-graduation-cap"></i> Edu - Alert</h3>
          <p>
            Hệ thống hỗ trợ sinh viên theo dõi tiến độ, cảnh báo học vụ và tư
            vấn lộ trình học tập hiệu quả dựa trên dữ liệu.
          </p>
          <div class="social-links">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </div>
        </div>
        <div class="footer-col">
          <h4>Truy Cập Nhanh</h4>
          <ul class="fast-access">
            <li><a href="#">Trang Chủ</a></li>
            <li><a href="#">Giới Thiệu</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="login">Đăng Nhập</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Liên Hệ Hỗ Trợ</h4>
          <ul class="call">
            <li>
              <i class="fa-solid fa-location-dot"></i>
              Phòng Đào Tạo, Tòa nhà A, HV...
            </li>
            <li><i class="fa-solid fa-phone"></i> (024) 3765 4321</li>
            <li><i class="fa-solid fa-envelope"></i> hotro@sinhvien.edu.vn</li>
            <li>
              <i class="fa-solid fa-clock"></i>
              8:00 - 17:00 (Thứ 2 - Thứ 6)
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>
          © 2026 Hệ Thống Cảnh Báo Học Tập. Xây dựng bởi Nhóm NCKH Sinh viên.
        </p>
      </div>
    </footer>
  </body>
</html>