$bg-color: #3498db; // Khai báo biến màu xanh

body {
  background-color: $bg-color;

  h1 {
    color: white;
    &:hover {
      color: yellow; // Di chuột vào h1 sẽ đổi màu vàng
    }
  }
}
.test {
  font-size: 12px;
}
