* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color: #f0f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-container {
  background-color: #f8f8ff;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.header {
  display: static;
  text-align: center;
  margin-bottom: 13px;
}
.header img {
  width: 140px;
  margin: 12px;
}
.header h1 {
  color: #0000ff;
  font-size: 24px;
  font-weight: 800;
}
.main-body {
  width: 100%;
  padding: 0 20px;
}
.main-body h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #2d3748;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 15px;
}
.form-group label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}
/* .text {
  position: relative;
} */
.input1 {
  /* display: inline-block; */
  position: relative;
}
.input1 input {
  /* width:100%;
  height: 20px;  */
  width: 100%;
  padding: 10px 40px 10px 36px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: #f4fafc;
  outline: none;
  transition: 0.3s;
}
.input1 input:focus {
  border-color: #2f88dc;
  background-color: white;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #a0aec0;
  pointer-events: none;
}
.fa-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #a0aec0;
}
.fa-eye:hover {
  color: #0066ff;
}
.fa-eye-slash {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #a0aec0;
}
.fa-eye-slash:hover {
  color: #0066ff;
}
.btn-login {
  width: 100%;
  padding: 12px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(to right, rgb(56, 189, 248));
  color: white;
  font-size: 15px;
  font-weight: 650;
  cursor: pointer;
  margin-top: 6px;
}
.btn-login:hover {
  background: #0066ff;
}
.teacher {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 8px 0 10px;
  color: #007bff;
}
.teacher:hover {
  color: blue;
}

.main-body .book {
  width: 250px;
  margin-left: 50px;
}
.endnote {
  font-size: 13px;
  text-align: center;
  /* margin-top: 2px; */
  font-weight: 200;
  color: #bebebe;
}
/* Ẩn icon con mắt mặc định của Edge/Chrome */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button {
  display: none;
}